@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #343541;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 40px;
  background: #afb0c780;
  display: flex;
  justify-content: space-apart;
  align-items: right;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 5px;
  z-index: 1;
}

#app {
  width: 100%;
  flex: 1;
  background: #343541;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#login_container {
  background-color: #f3f4f7;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#login_container h1 {
  margin: 0 0 20px 0;
  text-align: center;
}

#signin_container {
  background-color: #f3f4f7;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#signin_container h1 {
  margin: 0 0 20px 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #eff0f3;

  gap: 10px;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

button[type="submit"] {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #388e3c;
}

#app_wrapper {
  flex: 1;
  width: 100%;
  margin: 0 auto;

  display: none;
  flex-direction: row;
  gap: 10px;
}

#chat_sidebar {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #afb0c780;
  border-radius: 5px;
}

#chat_sidebar #chat_status{
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0; /* Value representing the offset from the top of the viewport */
  height: 90vh; /* You may set this to the height you want */
  overflow-y: auto; /* Allow the sidebar to scroll independently if its content is long */
  padding: 5px;
  background-color: #40414F;
  margin: 10px;
  color: #dcdcdc;
}

#chat_container {
  flex: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.session-item .session-link {
  color:#dcdcdc
}

.code-snippet-item .code-snippet {
  color: #dcdcdc;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

#message_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  scroll-behavior: smooth;
}

/* hides scrollbar */
#message_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai .chat {
  background: #40414F;
  border-radius: 5px 5px 0 5px;
  padding: 5px;
  padding-right: 10px;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #dcdcdc;
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}
/*
form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #eff0f3;

  display: flex;
  flex-direction: row;
  gap: 10px;
}
*/

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

#chat_form img {
  width: 30px;
  height: 30px;
}
.chat-visible #chat_container {
  display: none;
}

#chat_form {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #40414F;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

  /* Style for the menu links */
  nav a {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #333;
  }

  span#logo{
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #383838;
  }

  /* Style for the logout link */
  #logout_link {
    float: right;
    background-color: #ff6347;
    color: #fff;
  }

  /* Style for the profile link */
  #profile_link {
    float: right;
    background-color: #00bfff;
    color: #fff;
  }

  /* Style for the isolated code block */
  .code-block {
    background-color: #f3f4f7;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
    margin-left: 18px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
  }